<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>World of Star Wars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js" defer></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" defer></script>
    <script type="text/javascript" src="/static/data_manager.js" defer></script>
    <script type="text/javascript" src="/static/index.js" defer></script>
</head>

<body>
    <header class="container">
      <div class="row">
        <h1 class="col-sm-8">Star Wars Universe Planets</h1>
        <div class="col-sm-2">
        <a href="/registration" class="button_like_link">Registration</a>
        </div>
        <div class="col-sm-2">
        <a href="/login" class="button_like_link">Log in</a>
        </div>
      </div>
    </header>

    <form action="/">
        <button type="button" value="Previous" id="previous" name="Previous">Previous</button>
        <button type="button" value="Next page" id="next-page" name="Next page">Next page</button>
    </form>

    <table class=table-bordered id="planets">
        <tr>
            <td>Name</td>
            <td>Diameter</td>
            <td>Climate</td>
            <td>Terrain</td>
            <td>Surface_water</td>
            <td>Population</td>
            <td>Residents</td>
        </tr>
            <tr id="0"></tr>
            <tr id="1"></tr>
            <tr id="2"></tr>
            <tr id="3"></tr>
            <tr id="4"></tr>
            <tr id="5"></tr>
            <tr id="6"></tr>
            <tr id="7"></tr>
            <tr id="8"></tr>
            <tr id="9"></tr>
    </table>
</body>

</html>