<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js" defer></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" defer></script>
    <script type="text/javascript" src="/static/data_manager.js" defer></script>
    <script type="text/javascript" src="/static/registration.js" defer></script>
</head>

<body>
    <h1>New registration</h1>

    <form action="/registration/new" method="post">
        <p>
            <label for="new_user_name">Please enter your username</label>
        </p>
        <p>
            <input name="new_user_name" id="new_user_name" maxlength="15" minlength="5" required>
        </p>
        <p>
            <label for="new_password">Please enter your password</label>
        </p>
        <p>
            <input name="new_password" id="new_password" maxlength="15" minlength="5" required>
        </p>
        <p>    
            <input type="submit" value="Register user">
        </p>
    </form>

</body>

</html> 